
:root{
    --purple: #7510F7;  

    --dove-rgba: rgb(255, 255, 255);
	  --lightgray: #E8F1F2;
    --lightblue: #1B98E0;
    --fadeblue: #247Ba0;
    --darkblue: #12393D;
    --beige: #F2E9E4;
}
.showcase-wrapper{
  height: auto;
  background: var(--dove-rgba);
}
.bg-purple{
  background:  var(--purple);
}
.social i{
  color: white;
  font-size: 30px;
  padding: 10px;
  border-radius: 15px;
  border: 2px solid var(--lightblue);
  background: var(--lightblue);
  transition: 0.7s;
}
.social i:hover{
  border: 2px solid white;
  background: white;
  color: var(--purple)
}
.width-70{
  width: 70%;
}
.resume-wrapper{
  color: white;
  text-decoration: none;
  padding: 10px;
  background: var(--purple);
  border-radius: 15px;
}
.resume-wrapper:hover{
  color: white;
}
@media screen and (max-width: 768px) {
  .width-70{
    width: 100%;
  }
}